p {
    color: white;
    font-family: regularFont;
}

#hero {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}
header h1 {
margin-top:80vh;
margin-left:10vh
}

header img {
    height: 90vh;
    object-fit: cover;
}

#down {
    display: block;
    margin: 0 auto;
    width: 2%;
}

@media (min-width: 800px) {
    .col-wide {
        width: 60%;
        float: left;
        /* padding-left: 20px; */
    }

    .col-narrow {
        width: 20%;
        float: right;
    }

    .col-nav {
        width: 20%;
        float: left;
    }
}

.col-narrow {
    background-color: white;
    border-radius: 10px;
}
.col-narrow p {
    /* padding-bottom: 0; */
    /* font-family: lightFont; */
    color: #2b2b2b;
    padding-left: 15px;
    padding-right: 15px;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

@font-face {
	font-family: headingFont;
	src: url(SF-Pro-Display-Bold.otf);
 }
 
 @font-face {
	font-family: lightFont;
	src: url(SF-Pro-Display-Light.otf);
 }

 @font-face {
	font-family: regularFont;
	src: url(SF-Pro-Display-Regular.otf);
 }

 @font-face {
	font-family: mediumFont;
	src: url(SF-Pro-Display-Medium.otf);
 }

 h2{
     font-family: headingFont, Arial, Helvetica, sans-serif;
     color: #6EDA9A;
 }

 .gal-img {
     width: 100%;
     border-radius: 10px;
     margin-top: 15px;
     margin-bottom: 0;
 }
 .gal-text {
    text-align: center;
    padding-bottom: 15px;
 }

 .col-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    padding-left: 50px;
 }



 a {
     font-family: lightFont, Arial, Helvetica, sans-serif;
     color: rgb(199, 199, 199);
     text-decoration: none;
 }

 a:hover {
     font-family: headingFont,Arial, Helvetica, sans-serif;
     color: white;
 }

.col-left {
    width: 50%;
    background: #2b2b2b;
    float: left;
    margin: 0 auto;
    text-align: center;
    height: 45vh;
}
.col-left img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

.col-right {
    width: 50%;
    background:black;
    float: left;
    height: 45vh;
    text-align: center;


}